@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.container {
  font-family: "Mulish", sans-serif;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.product-slider {
  padding: 20px 10px;
  position: relative;
}
@media (min-width: 1024px) {
  .product-slider {
    padding: 50px 100px;
  }
}

.menu-slider {
  border-bottom: #F99B2A 1px solid;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .text-center {
    display: flex;
    height: 46px;
  }
}

@media (min-width: 1024px) {
  .text-center .active-item {
    border-bottom: #EE2E24 3px solid;
  }
}

.text-center .item-menu {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
}

.text-center .item-menu a {
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.text-center .active-item a {
  color: #EE2E24;
}

.text-center a:hover {
  color: #EE2E24;
}

@media (max-width: 479px) {
  .list-item {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .list-item {
    max-height: 340px;
    display: flex;
    justify-content: center;
  }
}

.item-product {
  width: 300px;
  height: 340px;
}

.img-item {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 278px;
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name-item {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  text-align: center;
}

.price-item {
  color: #EE2E24;
  font-size: 16px;
  line-height: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.row-left {
  padding: 0px 20px;
  gap: 10px;
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  background: #F99B2A;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .row-left {
    left: 5%;
    top: 35%;
  }
}
@media (max-width: 479px) {
  .row-left {
    left: 0;
    top: 10%;
  }
}

.row-right {
  padding: 0px 20px;
  gap: 10px;
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  background: #F99B2A;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .row-right {
    right: 5%;
    top: 35%;
  }
}
@media (max-width: 479px) {
  .row-right {
    right: 0px;
    bottom: 5%;
  }
}

.prev {
  height: 40px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  height: 40px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-slider {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.more-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 5px;
  width: 234.14px;
  height: 40px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
}

.text-button {
  color: #EE2E24;
  font-size: 14px;
  line-height: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.img-button {
  width: 9.14px;
  height: 8px;
}

/*# sourceMappingURL=style.css.map */
