@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$mobile-width: 480px;
$desktop-width: 1024px;  
$color-primary: #EE2E24;
$color-text: #000000;
$color-white: #FFFFFF;
$color-origin: #F99B2A;
$font-family: 'Mulish', sans-serif;
$font-size-h1: 20px;
$font-size-h2: 16px;
$font-size-h3: 14px;
$font-weight:600;
$line-height-h1:36px;
$line-height-h2:16px;
$line-height-h3:14px;
$font-style: normal;
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
  } 
@mixin desktop {   @media (min-width: #{$desktop-width}) {     
    @content;  
   } 
  }
@mixin text($color, $font-size, $line-height) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  font-weight: $font-weight;
}
@mixin prev-next {
    height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin row-right-left {
    padding: 0px 20px;
    gap: 10px;
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    background: $color-origin;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.container {
    font-family: $font-family;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    
}
.product-slider{
    @include desktop {     
        padding: 50px 100px; 
    } 
    padding: 20px 10px;  
    position: relative;
}
.menu-slider{
    border-bottom: $color-origin 1px solid;
    display: flex;
    justify-content: center;
}
.text-center{
    @include desktop {     
        display: flex;
        height: 46px;
    } 
}
.text-center .active-item {
    @include desktop {     
        border-bottom: $color-primary 3px solid;
    }
} 
.text-center .item-menu  {
    padding:0px 30px;
    display: flex;
    justify-content: center;
}
.text-center .item-menu a{
   @include text($color-text, $font-size-h1, $line-height-h1);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.text-center .active-item a{
    color: $color-primary;
}
.text-center a:hover{
    color: $color-primary;
}
.list-item{
    @include mobile {     
        flex-direction: row;
    } 
    @include desktop() {     
        max-height: 340px;
        display: flex;
        justify-content: center;
    } 
}
.item-product{
    width: 300px;
    height: 340px;
}
.img-item{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 278px;
}
.information-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.name-item{
    @include text($color-text, $font-size-h2, $line-height-h2);
    text-align: center;
}
.price-item{
    @include text($color-primary, $font-size-h2, $line-height-h2);
    text-align: center;
    text-transform: uppercase;
}
.row-left{
    @include row-right-left;
    @include desktop {     
        left: 5%;
        top: 35%;
    }
    @include mobile() {     
        left: 0;
        top: 10%;
    }
}
.row-right{
    @include row-right-left;
    @include desktop {     
        right: 5%;
        top: 35%;
    }
    @include mobile() {     
        right: 0px;
        bottom: 5%;
    }
}
.prev{
    @include prev-next;
 }
 .next{
    @include prev-next;
 }
 .button-slider{
    display: flex;
    justify-content: center;
    margin-top: 40px;
 }
.more-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
    width: 234.14px;
    height: 40px;
    border: 1px solid $color-primary;
    border-radius: 20px;
}
.text-button{
    @include text($color-primary, $font-size-h3, $line-height-h3);
    text-align: center;
    text-transform: uppercase;
}
.img-button{
    width: 9.14px;
    height: 8px;
}

